body{
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.MuiAutocomplete-option{
    overflow-x: hidden;
}

.MuiTableCell-root {
    padding: 11px;
    text-align: center;
}


.MuiTableCell-head {
    line-height: 1rem!important;
}

@media (min-width: 600px) {
    .MuiToolbar-regular {
        min-height: 55px!important;
    }
}

.MuiToolbar-regular {
    min-height: 50px!important;
}

@media (max-width: 1024px) {

    .loader{
        position: absolute;
        top: 10%;
    }

    .table th{
        min-width: 100px;
    }
}


label{
    margin-left: 0.5rem
}

.custom-select{
    margin-left: 0!important;
}
.dataTables_info{
    margin-left: 0.5rem
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #2E3192!important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: #2E3192!important;
}

.MuiRadio-colorPrimary.Mui-checked {
    color: #2E3192!important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color:  #00A093;
    border-color:  #00A093;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagination{
    justify-content: flex-end;
}

.MuiCardContent-root:last-child {
    padding-bottom: 0!important;
}

.page-link{
    border-radius: 100%;
    border: 0;
}

.table td, .table th {
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 11px;
}


.MuiPickersToolbarText-toolbarTxt {
    margin-left: 10px!important;
}

.MuiButton-outlinedPrimary {
    color: #00A699!important;
    border: 1px solid #00A699!important;
}


.MuiCardContent-root {
    padding: 0px!important;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #00A699!important;
}

.mod {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
}

.MuiButton-containedPrimary:hover {
    color: #00A699;
    background-color: white!important;
    border: 1px solid #00A699
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: #D5D5D5!important;
}

.btn-outline-success {
    color: #00A699;
    border-color: #00A699;
    background-color: #fff;
}

.btn-outline-success:hover{
    color: #fff;
    background-color: #00A699;
    border-color: #00A699;
}

button:focus {
     outline: 0px dotted;
     outline: 0px auto -webkit-focus-ring-color;
}

@media (min-width: 600px){}
.MuiToolbar-gutters {
     padding-left: 0px!important;
}


.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3!important}

.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}